services:
  web:
    build:
      context: .
      target: dev
    container_name: vst_web_dev
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      postgres:
        condition: service_healthy
      celery:
        condition: service_started

  postgres:
    image: postgres:16
    container_name: vst_postgres_dev
    env_file:
      - .env.dev
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 30s

  celery:
    build:
      context: .
      target: dev
    container_name: vst_celery_dev
    command: celery -A vstweaker worker -l info
    volumes:
      - .:/app
    env_file:
      - .env.dev
    depends_on:
      redis:
        condition: service_healthy

  celery-beat:
    build:
      context: .
      target: dev
    container_name: vst_beat_dev
    command: celery -A vstweaker beat -l info
    volumes:
      - .:/app
    env_file:
      - .env.dev
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: vst_redis_dev
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 30s

volumes:
  postgres_dev_data:
