version: "3.9"

services:
  app:
    build:
      context: .
      target: prod
    container_name: vst_app_prod
    env_file:
      - .env.prod
    volumes:
      - static:/app/static
      - media:/app/media
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "python", "manage.py", "ping"]
      interval: 30s
      timeout: 10s

  postgres:
    image: postgres:16
    container_name: vst_postgres_prod
    env_file:
      - .env.prod
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
    restart: always

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./.compose/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static:/static
      - media:/media
    depends_on:
      - app

  celery:
    build:
      context: .
      target: prod
    container_name: vst_celery_prod
    command: celery -A vstweaker worker -l info
    env_file:
      - .env.prod
    volumes:
      - media:/app/media
    depends_on:
      - redis

  celery-beat:
    build:
      context: .
      target: prod
    container_name: vst_beat_prod
    command: celery -A vstweaker beat -l info
    env_file:
      - .env.prod
    volumes:
      - media:/app/media
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: vst_redis_prod
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s

volumes:
  postgres_prod_data:
  static:
  media:
